<html>

<head>
  <title>ai Redis Server</title>
  <!-- <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .del:checked+span {
      color: red;
    }

    .task-list {
      list-style: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ai Redis Server</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">

    <form method="post" action="/task/add">
      <label>Add Task</label>
      <input type="text" name="task" placeholder="Add Task">
      <input type="submit" value="Submit">
    </form>

    <%= title %>

    <form method="post" action="/task/delete">
      <ul class="task-list">
        <% tasks.forEach(function(task){ %>
        <li>
          <label>
            <input type="checkbox" name="tasks" class="del" value="<%= task %>">
            <span><%= task %></span>
          </label>
        </li>
        <% }) %>
      </ul>
      <input type="submit" value="Remove" title="Remove selected tasks">
    </form>

    <h3>Next Business Call</h3>
    Name: <%= call.name %><br>
    Company: <%= call.company %><br>
    Phone: <%= call.phone %><br>
    Time: <%= call.time %><br>

    <h3>Edit Next Call</h3>
    <form method="post" action="/call/add">

      <label>Contact Name</label><br>
      <input type="text" name="name" placeholder="Task Name">
      <br><br>

      <label>Company</label><br>
      <input type="text" name="company" placeholder="Company">
      <br><br>

      <label>Phone</label><br>
      <input type="text" name="phone" placeholder="Phone">
      <br><br>

      <label>Day & Time</label><br>
      <input type="text" name="time" placeholder="Time">
      <br><br>

      <input type="submit" value="Submit">

    </form>

  </div>


</body>

</html>